<div class="container">
    <div class="reveal" id="modal1" data-reveal>
        <p class="modal-title text-center">Login or sign up to start posting now!</p>
        <a class="button" id="login" href="#">Login <i class="fas fa-sign-in-alt"></i></a>
        <a class="button" id ="sign-up"href="#">Sign Up <i class="fas fa-user-plus"></i></a>
        <p><a class="button expanded" href="/home">View Posts <i class="far fa-list-alt"></i></a></p>
    </div>
</div>
<div class="container">
        <div class="reveal" id="modal2" data-reveal>
        <p class="modal-title">Login <i class="fas fa-sign-in-alt"></i></p>
        <form class="login-form">
            <label>Username
                <input type="text" placeholder="" aria-describedby="exampleHelpText" id="login-username">
            </label>
            <label>Password
                <input type="password" placeholder="" aria-describedby="exampleHelpText" id="login-password">
            </label>
        </form>
        <a class="small button" href="#0" id="login-submit">Submit</a>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button> 
    </div>
</div>
<div class="container">
        <div class="reveal" id="modal3" data-reveal>
        <p class="modal-title">Sign Up <i class="fas fa-user-plus"></i></p>
        <form class="sign-form">
            <label>Username
                <input type="text" placeholder="" aria-describedby="exampleHelpText" id="sign-username">
            </label>
            <label>Password
                <input type="password" placeholder="" aria-describedby="exampleHelpText" id="sign-password">
            </label>
        </form>
        <a class="small button" id = "submit" href="#0">Submit</a>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button> 
    </div>
</div>