<h1 class="text-center logo-name"><img src = "/styles/logo.png" class="logo"> Audio Journal</h1>
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="medium-12 cell align-center">
            <h2 class="page-title">Create a New Post</h2>
            <form>
            <label>
            <input type="text" placeholder="Title" id="new-title">
            </label> 
        </form> 
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="medium-4 cell">
            {{!-- <p>Upload an audio file:</p> --}}
            <input type="text" placeholder="Upload an Audio File" id="audio"> 
        </div>
        <div class="medium-8">
            <form>
            <label>
            <input type="text" placeholder="Your Post Here" id="text-post">
            </label> 
        </form>
        </div>
    </div>
    <div class="grid-x align-center">
        <div class="medium-4 cell">
            <a class="button expanded" href="" id= "post-submit">Submit Post</a>
        </div>
    </div>


</div>
