<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
            <h1 class="animated fadeIn text-center logo-name"><img src = "/styles/logo.png" class="logo"> Life Journal</h1>
        </div>
    </div>
</div>
{{>modals}}
